@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#edit_logo {
	margin-top: 30px;
	margin-left: 10%;
	font-size: 30px;
	text-align: left;
	font-family: 'NanumBarunGothic';
}

hr {
	border: 0;
	margin: 0 auto;
	margin-top: 10px;
	width: 80%;
	height: 5px;
	background: #15075f;
}

table {
	margin: 50px auto;
	border-collapse: collapse;
	width: 80%;
}

tr, th, td {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgb(199, 198, 198);
}

th, td{
	padding: 5px;
	text-align: center;
}

td input[type="text"], td textarea {
    width: 100%;
    box-sizing: border-box;
}

th {
	font-family: 'NanumBarunGothic';
}

td {
	font-family: 'NanumBarunGothicLight';
	text-align: left;
}

#writer, #edit_title, #edit_content {
	text-align: left;
}

#edit_content{
	vertical-align: top;
}

#edit_reset_btn, #edit_content_btn, #edit_update_btn {
	width: 7%;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	border: none;
	border-radius: 5px;
	font-family: 'NanumBarunGothic';
	color: white;
	cursor: pointer;
}

#edit_reset_btn {
	background: #E97384; /* 분홍 */
}

#edit_content_btn {
	background: #15075f;
}

#edit_update_btn{
	background: #FDBD30; /* 노랑 */
}