@charset "UTF-8";

* {
	margin: 0;
	padding: 0;
}

#view_logo {
	margin-top: 30px;
	margin-left: 10%;
	font-size: 30px;
	text-align: left;
	font-family: 'NanumBarunGothic';
}

hr {
	border: 0;
	margin: 0 auto;
	margin-top: 10px;
	width: 80%;
	height: 5px;
	background: #15075f;
}

table {
	margin: 50px auto;
	border-collapse: collapse;
	width: 80%;
}

tr, th, td {
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: rgb(199, 198, 198);
	padding: 5px;
}

th {
	font-family: 'NanumBarunGothic';
}

td {
	font-family: 'NanumBarunGothicLight';
}

#view_title, #view_content {
	text-align: left;
}

#view_content {
	height: 300px;
	overflow: auto; /* 스크롤 생성 */
	vertical-align: top;
    text-align: left;
}

#view_btn {
	width: 100%;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 100px;
	margin-bottom: 50px;
}

#view_delete_btn, #view_content_btn, #view_update_btn {
	width: 7%;
	height: 30px;
	margin-left: 15px;
	margin-right: 15px;
	border: none;
	border-radius: 5px;
	font-family: 'NanumBarunGothic';
	color: white;
	cursor: pointer;
}

#view_delete_btn {
	background: #E97384; /* 분홍 */
}

#view_content_btn {
	background: #15075f;
}

#view_update_btn{
	background: #FDBD30; /* 노랑 */
}