@charset "UTF-8";
* {
   margin: 0;
   padding: 0;
}

html {
   position: relative;
   min-height: 100%;
   margin: 0;
}

body {
   min-height: 100%;
}

footer {
   position: absolute;
   left: 0;
   bottom: 0;
   width: 100%;
   padding: 15px 0;
   text-align: center;
	border: none;
	background-color: #EFF2FB;
}
header {
	display: flex;
	border: none;
	width: 100%;
	height: 150px;
	top: 0px;
	vertical-align: middle;
	background-color: #EFF2FB;
}

section {
	width: 1000px;
	height: 600px;
	position: absolute;
	left: 50%;
	top: 54%;
	margin-left: -500px;
	margin-top: -300px;
	background-image: url("resources/img/main_picture.PNG");
	background-size: 1000px 600px;
	background-repeat: no-repeat;
}

/* footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	height: 90px;
	border: none;
	background-color: #EFF2FB;
} */